# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store

# Streamlit files
.streamlit/

# Logs and local files
*.log
*.sqlite3

# dotenv environment variables file
.env
.env.*.local

# FAISS index folder
faiss_index/

# Other
*.bak
*.swp
